@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-dark:rgba(255,255,255,0)
}

body {
  font-family: "Roboto Condensed" sans-serif;
}

nav a.nav-link {
  letter-spacing: 0.0375rem;

}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.187rem solid var(--primary-dark);
}

.navbar-brand {
  color: var(--primary-orange) !important;
}
.navbar-toggler  {
  color: var(--primary-white) !important;
}

.navbar-nav > li > a:hover {
  border-top: 0.187rem solid var(--primary-orange);
} 

.header-wrapper
{
  position: relative;
  background: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:100vh;

}

.main-info
{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  text-align: center; 
  padding-top: 20px;
}

.main-info h1 
{
  padding-top: 10rem;
  color: var(--primary-white);
}

.typed-text 
{
  font-size: 2rem;
  color:var(--primary-white);
  padding-top: 4rem;
  
}

.btn-main-offer
{
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 0; 
  padding: 10px 12px 12px 12px;
  color: var(--primary-white);
  margin-top: 12rem;
}
.btn-main-offer:hover {
  color:var(--primary-white)
}

@media(max-width:780px) {
  .main-info h1 {
    font-size:1.7rem !important;
  }

  .typed-text {
    font-size: 1.3rem !important;
  }

  .navbar-brand {
    width: 7rem;
  }
}